@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}


body{
  background: linear-gradient(0deg, #1D1D1D 0%, #1D1D1D 100%), #1A1A1A;
}

.card{
  background: linear-gradient(214deg, #000 6.04%, #4A4A4A 92.95%), linear-gradient(214deg, #000 6.04%, #756D62 92.95%);
}


/* scroll bar  */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: hsla(53, 81%, 59%, 1);

background: linear-gradient(90deg, hsla(53, 81%, 59%, 1) 0%, hsla(30, 100%, 41%, 1) 58%);

background: -moz-linear-gradient(90deg, hsla(53, 81%, 59%, 1) 0%, hsla(30, 100%, 41%, 1) 58%);

background: -webkit-linear-gradient(90deg, hsla(53, 81%, 59%, 1) 0%, hsla(30, 100%, 41%, 1) 58%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#EBD744", endColorstr="#D16900", GradientType=1 );
  border-radius: 200px;
}

::-webkit-scrollbar-track {
  background-color: #000000;
}



/* Horizontal scrollbar */
::-webkit-scrollbar:horizontal {
  height: 6px;
}

::-webkit-scrollbar-thumb:horizontal {
  background-color: #af2245;
  border-radius: 50px;
}

::-webkit-scrollbar-track:horizontal {
  background-color: #f1f1f1;
}

/* this is simpleInput componet */

.rti--container {
  --rti-bg: "#fff" ;
  --rti-border: "#000" !important; /* Red border color */
  --rti-main: "#3182ce" !important;
  --rti-radius: "0.375rem" !important;
  --rti-s: "0.5rem";
  --rti-tag: "#edf2f7";
  --rti-tag-remove: "#e53e3e" ;}